@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap");

/* Generics */

* {
  font-family: "Inter", sans-serif;
}

/* # COUNTDOWN */

#countdown {
  font-weight: bolder;
  font-size: 5rem;
}

/* #NUMBERS */
#numbers-list {
  font-size: 3rem;
}

input {
  width: 80px !important;
}
